{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% load spam_extras %}

{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}

{% block title %}
    <title>TimeStampAddList</title>
{% endblock title %}

{% block content %}
<h3>TimeStamp Add ({{ project_title }})</h3>
<div id="timestamp-form">
    <div class="row">
        <div class="col-xl-8 col-lg-10 col-sm-12">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">Start Date</div>
                            <input id="startDateFilter" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">End Date</div>
                            <input id="endDateFilter" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">User</div>
                            <select id="userFilterSelect" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" id="applyFiltersButton">Apply</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-sm-7">
                    <span>
                        <button type="button" class="btn btn-success" id="btn-verify">Verify</button>
                        <button type="button" class="btn btn-success" id="btn-addtimestamp">Request Trusted Timestamp</button>
                    </span>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <font color="red">
            <h4 id="timestamp_errors_spinner"></h4>
        </font>
        <table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="3%"><input type="checkBox" id="addTimestampAllCheck" style="width: 14px; height: 14px;" /></th>
                    <span id="sort_provider" ><th width="10%">Provider</th></span>
                    <span id="sort_file_path" ><th width="30%">FilePath</th></span>
                    <span id="sort_verify_user_name_id" ><th width="15%">Timestamp by</th></span>
                    <span id="sort_verify_date" ><th width="22%">Updated at</th></span>
                    <span id="sort_verify_result_title" ><th width="20%">Timestamp verification</th></span>
                </tr>
            </thead>
            <tbody class="list" id="timestamp_error_list">
            {% for provider_error_info in init_project_timestamp_error_list %}
                {% for error_info in provider_error_info.error_list %}
                <tr class="addTimestamp">
                    <td width="1%"><input type="checkBox" id="addTimestampCheck" style="width: 14px; height: 14px;" /></td>
                    <td class="provider">{{ provider_error_info.provider }}</td>
                    <td>{{ error_info.file_path }}</td>

                    <input type="hidden" class="creator_name" value="{{ error_info.creator_name }}" />
                    <input type="hidden" class="creator_email" value="{{ error_info.creator_email }}" />
                    <input type="hidden" class="creator_id" value="{{ error_info.creator_id }}" />
                    <input type="hidden" class="creator_institution" value="{{ error_info.creator_institution }}" />
                    <input type="hidden" class="file_path" value="{{ error_info.file_path }}" />
                    <input type="hidden" class="file_id" value="{{ error_info.file_id }}" />
                    <input type="hidden" class="file_create_date_on_upload" value="{{ error_info.file_create_date_on_upload }}" />
                    <input type="hidden" class="file_create_date_on_verify" value="{{ error_info.file_create_date_on_verify }}" />
                    <input type="hidden" class="file_modify_date_on_upload" value="{{ error_info.file_modify_date_on_upload }}" />
                    <input type="hidden" class="file_modify_date_on_verify" value="{{ error_info.file_modify_date_on_verify }}" />
                    <input type="hidden" class="file_size_on_upload" value="{{ error_info.file_size_on_upload }}" />
                    <input type="hidden" class="file_size_on_verify" value="{{ error_info.file_size_on_verify }}" />
                    <input type="hidden" class="file_version" value="{{ error_info.file_version }}" />
                    <input type="hidden" class="provider" value="{{ provider_error_info.provider }}" />
                    <input type="hidden" class="verify_user_id" value="{{ error_info.verify_user_id }}" />
                    <input type="hidden" class="verify_user_name" value="{{ error_info.verify_user_name }}" />
                    <input type="hidden" class="verify_date" value="{{ error_info.verify_date }}" />
                    <input type="hidden" class="verify_result_title" value="{{ error_info.verify_result_title }}" />

                    <td class="verify_user_name_id">{{ error_info.verify_user_name }} ({{ error_info.verify_user_id }})</td>
                    <td class="verify_date">{{ error_info.verify_date }}</td>
                    <td class="verify_result_title">{{ error_info.verify_result_title }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span>
                <select id="fileFormat" class="form-control">
                    <option value="csv">CSV</option>
                    <option value="json-ld">JSON/LD</option>
                    <option value="rdf-xml">RDF/XML</option>
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                <button type="button" class="btn btn-success" id="btn-download">Download</button>
            </span>
        </div>
        <div class="col-sm-7"></div>
    </div>
    {% csrf_token %}
</div>

<style type="text/css">
.table>thead>tr>th {
    vertical-align: middle;
}
.form-group .input-group {
    margin-bottom: 10px;
}
date-input-polyfill {
  z-index: 3;
}
</style>

<script charset="utf-8">
    window.timestampaddUrls = {
        verify: "{% url 'timestampadd:verify' institution_id=institution_id guid=guid %}",
        verifyData: "{% url 'timestampadd:verify_data' institution_id=institution_id guid=guid %}",
        addTimestampData: "{% url 'timestampadd:add_timestamp_data' institution_id=institution_id guid=guid %}",
        addtimestamp: "{% url 'timestampadd:addtimestamp' institution_id=institution_id guid=guid %}"
    };
</script>
<script src={{ '/static/public/js/rdm-timestampadd-page.js' }}></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nodep-date-input-polyfill@5.2.0/nodep-date-input-polyfill.dist.min.js"></script>
{% endblock content %}

